<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Demie Yoe</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/ionicons.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Header Section -->
  <header class="header">
    <nav class="nav">
      <a class="nav_logo" href="#">
        Demie
      </a>
      
      <div class="handburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      
      <div class="res-menu">
        <a class="nav_links" href="#about">
                  About
        </a>
        <a class="nav_links" href="#contact">
                  Contact
        </a>
        <!-- <a class="nav_btn" href="register.html">
                  Sign Up
        </a> -->
        <a class="nav_btn" href="/login">
                  Login
        </a>
      </div>
      
      <div class="nav_menu">
        <a class="nav_links" href="#about">
          About
        </a>
        
        <a class="nav_links" href="#contact">
          Contact
        </a>
        
        <!-- <a class="nav_btn" href="register.html">
          Sign Up
        </a> -->
        
        <a class="nav_btn" href="/login">
          Login
        </a>
        
      </div>
    </nav>
    <div class="header_text-box">
      <h1 class="hero_text">
        <span class="hero_big">Online Leave</span>
        <span class="hero_small">management system</span>
        <a class="hero_btn" href="/apply">Apply For Leave</a>
      </h1>
    </div>
  </header>
  <section class="steps-section">
    <h2 class="heading">Apply in 3 esasy steps</h2>
    <div class="row">
      
      <div class="steps">
        <i class="ion-log-in step-icon">
          
        </i>
        <h4 class="step-head">Login</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at
        </p>
      </div>
      
      <div class="steps">
        <i class="ion-clipboard step-icon">
        </i>
        <h4 class="step-head">Apply</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at
        </p>
      </div>
            
      <div class="steps">
        <i class="ion-android-done-all step-icon">
                    </i>
        <h4 class="step-head">Approved</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at
         </p>
       </div>
    </div>
  </section>
  
  <section class="about" id="about">
    <h2 class="heading">About us</h2>
    <p class="about-text">
       Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed varius pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo mauris, vel ultrices elit ultrices at
    </p>
  </section>
  
  <section class="contact" id="contact">
    <div class="contact-box">
      
    
    <form class="" action="" method="get" accept-charset="utf-8">
      <h3 class="form-head">Contact Us</h3>
      <div class="form-group">
        <input type="text" placeholder="Fullname" />
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <textarea name="" id= rows="8" cols="40" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-send">Send</button>
      </div>
    </form>
    </div>
  </section>
  <footer class="footer">
    &copy; The Federal Polytechnic Ilaro P.M.B 50 
    <script type="text/javascript" charset="utf-8">
      const d = new Date()
      const year = d.getFullYear()
      document.write(year)
    </script>
  </footer>
  <!-- Project -->
  <script src="main.js"></script>
</body>
</html>